<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Eduardo Rodrigues" />
   <link href="http://feeds.feedburner.com/eduardomourar" rel="alternate" title="Eduardo Rodrigues" type="application/atom+xml" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Eduardo Rodrigues</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Eduardo Rodrigues
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://linkedin.com/in/edmoura/">linkedin.com/in/edmoura</a><br/>
        <a href="http://github.com/eduardomourar/">github.com/eduardomourar</a><br/>
        <a href="http://twitter.com/EdMouraR/">twitter.com/EdMouraR</a><br/>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/eduardomourar">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-128249655-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-128249655-1');
</script>
<!-- Google Analytics end -->

</body>
</html>
